<!-- Themes  register-flat-->
<ion-content *ngIf="data != null">
  <ion-grid no-padding>
    <!-- logo -->
    <ion-row header align-items-start align-items-stretch>
      <ion-col col-10 offset-1 col-md-6 offset-md-3>
        <img logo src="{{data.logo}}" />
      </ion-col>

    <!-- Section form>-->
  <ion-col col-10 offset-1 col-md-6 offset-md-3>
    <form padding>
      <ion-row align-items-start>
        <ion-col col-12>
          <h1><strong>{{data.title}}</strong> {{data.subtitle}}</h1>
        </ion-col>
      </ion-row>
      <!-- Input-field -->
      <ion-row>
        <ion-col col-12>
          <div input-field>
            <!-- Input-field-text -->
            <ion-item no-padding>
              <ion-input type="text" [placeholder]="data.txtUsername" [(ngModel)]="username" [ngModelOptions]="{standalone: true}"></ion-input>
<!--               <ion-label no-margin *ngIf="!isUsernameValid">{{data.errorUser}}</ion-label>
 -->            </ion-item>
            <!-- Input-field-password -->
            <ion-item no-padding>
              <ion-input type="password" [placeholder]="data.txtPassword" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"></ion-input>
              <!-- <ion-label no-margin *ngIf="!isPasswordValid">{{data.errorPassword}}</ion-label> -->
            </ion-item>
          </div>
          <!-- Login button -->
          <ion-col col-12 no-padding>
            <button no-margin ion-button full text-uppercase (click)="onEvent('onLogin')">{{data.btnLogin}}</button>
          </ion-col>
          <!-- Description -->
          <div description text-center>
            <ion-row>
              <!-- Reset your password button -->
              <ion-col col-12 no-padding no-margin>
                <p no-margin no-padding>{{data.txtForgotPassword}} <a>{{data.btnResetYourPassword}}</a> </p>
              </ion-col>
              <!-- Signup now button -->
              <ion-col col-12padding>
                <p no-margin no-padding>{{data.txtSignupnow}} <a>{{data.btnSignupnow}}</a> </p>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </form>
    </ion-col>
        </ion-row>
  </ion-grid>
</ion-content>
